<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Parents - Football Team Management For Local Communities</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
<!-- Nav HTML -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="team.html">Team Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="teams" title="Home">HOME</a>
                <a class="nav-item nav-link" href="parents" title="Parents Management">Parents</a>
                <a class="nav-item nav-link" href="kids" title="Kids Management">Kids</a>
                <a class="nav-item nav-link" href="users" title="Users Management">Users</a>
                <a class="nav-item nav-link" href="teams" title="Team Info">Team</a>
            </div>
            <div class="navbar-nav ml-auto">
                <!-- <form class="navbar-form form-inline">
                  <div class="input-group search-box">
                    <input type="text" id="search" class="form-control" placeholder="Search here...">
                    <span class="input-group-addon"><i class="material-icons"></i></span>
                  </div>
                </form> -->
                <div class="nav-item dropdown show">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"
                       aria-expanded="true">[[${#httpServletRequest.remoteUser}]]<b class="caret"></b></a>
                    <div class="dropdown-menu hide">
                        <a href="users/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a>
                        <div class="divider dropdown-divider"></div>
                        <a href="@{/logout}" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>
                            Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- CRUD HTML -->
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>Parents</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addParentModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                            <span>Add New Parent</span></a>
                        <a href="#deleteParentModal" class="btn btn-danger" data-toggle="modal"><i
                                class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
							<span class="custom-checkbox">
								<input type="checkbox" id="selectAll">
								<label for="selectAll"></label>
							</span>
                    </th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="parent : ${parents}">
                    <td>
							<span class="custom-checkbox">
								<input type="checkbox" id="checkbox1" name="options[]" value="1">
								<label for="checkbox1"></label>
							</span>
                    </td>
                    <td th:text="${parent.firstname}"></td>
                    <td th:text="${parent.lastname}"></td>
                    <td th:text="${parent.email}"></td>
                    <td th:text="${parent.address}"></td>
                    <td th:text="${parent.phoneNumber}"></td>
                    <td>
                        <a href="#addKidModal" class="add" data-toggle="modal"><i class="material-icons"
                                                                                  data-toggle="tooltip"
                                                                                  title="Add Kid">accessibility</i></a>
                        <a href="#editParentModal" class="edit" data-toggle="modal"><i class="material-icons"
                                                                                       data-toggle="tooltip"
                                                                                       title="Edit">edit</i></a>
                        <a href="#deleteParentModal" data-id="${parent.parentId}" class="delete" data-toggle="modal"><i class="material-icons"
                                                                                           data-toggle="tooltip"
                                                                                           title="Delete">delete</i></a>
                    </td>
                </tr>

                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="addParentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" th:action="@{/parents}" th:object="${parent}" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Add Parent</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{firstname}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" th:field="*{lastname}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" th:field="*{email}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="address" class="form-control" th:field="*{address}" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editParentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Parent</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteParentModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" method="get">
                <input type="hidden" name="parentId" >
                <div class="modal-header">
                    <h4 class="modal-title">Delete Parent</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Add Kids Modal HTML -->
<div id="addKidModal" class="modal fade">
    <div class="modal-dialog modal-lg modal-80p">
        <div class="modal-content">
            <form action="#" th:action="@{/kids}" th:object="${kid}" method="post" class="form-horizontal">
                <div class="modal-header">
                    <h4 class="modal-title">Add Kid</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" th:field="*{firstname}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input th:field="*{lastname}" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Date Of Birth <small>(DD/MM/YYYY)</small></label>
                        <input type="text" th:field="*{dob}" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Parent</label>
                        <input type="text" class="form-control" required readonly>
                    </div>

                    <div class="form-group">
                        <label>Position</label>
                        <select th:field="*{position}" name="position" id="position" class="form-control">
                            <option value="Center (C)">Center (C)</option>
                            <option value="Offensive Guard (OG">Offensive Guard (OG)</option>
                            <option value="Offensive Tackle (OT)">Offensive Tackle (OT)</option>
                            <option value="Quarterback (QB)">Quarterback (QB)</option>
                            <option value="Running Back (HB/FB)">Running Back (HB/FB)</option>
                            <option value="Wide Receiver (WR)">Wide Receiver (WR)</option>
                            <option value="Tight End (TE)">Tight End (TE)</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Team</label>
                        <input type="text" class="form-control" required readonly>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea th:field="*{address}" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" th:field="*{phoneNumber}" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Footer HTML -->
<div class="footer mt-auto">
    <div class="footer-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">Copyright ©2022 Capston Project</div>
                <div class="col-sm-6">
                    <ul class="list-inline pull-right">
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
